body {
    margin: 0;
    /*background: #000 url("../assets/background.jpg") no-repeat 50% 1px;*/
    /*background-size: 2557px auto;*/
}

/*header*/
.main-header {
    margin-bottom: 60px;

    background-color: rgba(250, 0, 0, 0.3);
}

.container {
    margin: auto;
    padding: 0 10px;
    width: 940px;

    background-color: rgba(169, 250, 242, 0.84);
}

.clear-fix::after {
    display: table;
    clear: both;
    content: "";
}

.main-navigation {
    float: left;
    width: 780px;

    background-color: rgba(104, 73, 250, 0.84);
}

.user-block {
    float: right;
    width: 140px;

    background-color: rgba(90, 250, 38, 0.84);
}

/*header*/

/*main*/

/*logo*/
.index-logo {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    height: 204px;
    width: 368px;
}

/*logo*/

/*features*/
.features {
    margin-bottom: 80px;
}

.features-item {
    float: left;
    margin-right: 20px;
    width: 300px;

    background-color: rgba(0, 0, 250, 0.3);
}

.features-item:last-child {
    margin-right: 0;
}

/*features*/

/*index-content*/
.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;

    background-color: rgba(90, 250, 38, 0.84);
}

.index-content-left {
    float: left;
    width: 380px;

    background-color: rgba(250, 0, 0, 0.3);
}

.index-content-right {
    float: right;
    width: 300px;

    background-color: rgba(250, 0, 0, 0.3);
}

/*index-content*/

/*footer*/
.main-footer {
    margin-top: 60px;

    background-color: rgba(0, 0, 250, 0.3);
}

.main-footer > .container {
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-contacts {
    float: left;
    margin-right: 60px;
    width: 320px;

    background-color: rgba(250, 0, 0, 0.3);
}

.footer-social {
    float: left;
    width: 180px;

    background-color: rgba(250, 0, 0, 0.3);
}

.footer-copyright {
    float: right;
    width: 132px;

    background-color: rgba(250, 0, 0, 0.3);
}

/*footer*/
