body {
    margin: 0;
    /*background: #000 url("../assets/background.jpg") no-repeat 50% 1px;*/
    /*background-size: 2557px auto;*/
}

.center {
    margin: auto;
    padding: 0 10px;
    width: 940px;

    background-color: rgba(169, 250, 242, 0.84);
}

.clear-fix::after {
    display: table;
    clear: both;
    content: "";
}

/*header*/
.main-navigation {
    float: left;
    width: 780px;

    background-color: rgba(90, 250, 38, 0.84);
}

.user-block {
    float: right;
    width: 140px;

    background-color: rgba(90, 250, 38, 0.84);
}

/*header*/
/*footer*/
.footer-container {
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-contacts {
    float: left;
    margin-right: 60px;
    width: 320px;

    background-color: rgba(90, 250, 38, 0.84);
}

.footer-social {
    float: left;
    width: 180px;

    background-color: rgba(90, 250, 38, 0.84);
}

.footer-copyright {
    float: right;
    width: 132px;

    background-color: rgba(90, 250, 38, 0.84);
}

/*footer*/
/*home*/

.home-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

/*logo*/
.index-logo {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    height: 204px;
    width: 368px;
}

/*logo*/

/*features*/
.features {
    margin-bottom: 80px;

    background-color: rgba(90, 250, 38, 0.84);
}

.features-item {
    float: left;
    margin-right: 20px;
    width: 300px;

    background-color: rgba(250, 0, 0, 0.3);
}

.features-item:last-child {
    margin-right: 0;
}

/*features*/

/*index-content*/
.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;

    background-color: rgba(90, 250, 38, 0.84);
}

.index-content-left {
    float: left;
    width: 380px;

    background-color: rgba(250, 0, 0, 0.3);
}

.index-content-right {
    float: right;
    width: 300px;

    background-color: rgba(250, 0, 0, 0.3);
}

/*index-content*/
/*home*/

/*shop*/
.shop-container {
    margin-top: 55px;
    padding-bottom: 1px;
}

.shop-title {
    margin-bottom: 20px;

    background-color: rgba(90, 250, 38, 0.84);
}

.bread-crowns {
    background-color: rgba(90, 250, 38, 0.84);
    margin-bottom: 56px;
}

.shop-content {
    margin-bottom: 25px;

    background-color: rgba(90, 250, 38, 0.84);
}

.shop-content-left {
    float: left;
    width: 170px;

    background-color: rgba(250, 0, 0, 0.3);
}

.producers, .product-groups {
    margin-bottom: 50px;

    background-color: rgba(249, 58, 250, 0.3);
}

.shop-content-right {
    float: right;
    width: 700px;

    background-color: rgba(250, 0, 0, 0.3);
}

.product-wrapper {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 220px;
    min-height: 273px;

    background-color: rgba(249, 58, 250, 0.3);
}

.product-wrapper:nth-child(3n+3) {
    margin-right: 0;
}

.shop-pagination {
    margin-left: 240px;
    margin-bottom: 45px;

    background-color: rgba(90, 250, 38, 0.84);
}

/*shop*/
/*price*/

/*price*/